In [1]:
# 19.4.2 Real Data, Real Practice Imports and Setup

In [2]:
## Import our dependencies

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

In [4]:
## Import our input dataset

In [5]:
attrition_df = pd.read_csv('./Resources/HR-Employee-Attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [6]:
## Generate our categorical variable list

In [7]:
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()

In [8]:
## Create a OneHotEncoder instance

In [9]:
enc = OneHotEncoder(sparse=False)

In [10]:
## Fit and transform the OneHotEncoder using the categorical variable list

In [11]:
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

In [12]:
## Add the encoded variable names to the DataFrame

In [13]:
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

C:\ProgramData\Anaconda3\envs\Mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [14]:
## Merge one-hot encoded features and drop the originals

In [15]:
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

C:\ProgramData\Anaconda3\envs\Mlenv\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [16]:
## Split our preprocessed data into our features and target arrays

In [17]:
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

C:\ProgramData\Anaconda3\envs\Mlenv\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [18]:
## Split the preprocessed data into a training and testing dataset

In [19]:
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

C:\ProgramData\Anaconda3\envs\Mlenv\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [23]:
# Create a StandardScaler instance

In [24]:
scaler = StandardScaler()

In [25]:
## Fit the StandardScaler

In [26]:
X_scaler = scaler.fit(X_train)

In [28]:
## Scale the data

In [29]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [30]:
# 19.4.4 Real Data, Real Practice Deep Learning Model Design

In [31]:
## Define the model - deep neural net

In [32]:
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

In [33]:
## First hidden layer

In [34]:
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

In [35]:
## Second hidden layer

In [36]:
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

In [37]:
## Output layer

In [38]:
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

In [39]:
## Check the structure of the model

In [40]:
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 448

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

In [41]:
## Compile the model

In [42]:
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [43]:
# 19.4.5 Real Data, Real Practice Train and Evaluate the Model

In [44]:
## Train the model

In [45]:
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
35/35 [==============================] - 1s 1ms/step - loss: 17.9373 - accuracy: 0.7995
Epoch 2/100
35/35 [==============================] - 0s 1ms/step - loss: 4.3692 - accuracy: 0.8276
Epoch 3/100
35/35 [==============================] - 0s 2ms/step - loss: 2.1357 - accuracy: 0.8276
Epoch 4/100
35/35 [==============================] - 0s 2ms/step - loss: 1.5077 - accuracy: 0.8276
Epoch 5/100
35/35 [==============================] - 0s 2ms/step - loss: 1.2395 - accuracy: 0.8276
Epoch 6/100
35/35 [==============================] - 0s 2ms/step - loss: 1.0100 - accuracy: 0.8285
Epoch 7/100
35/35 [==============================] - 0s 2ms/step - loss: 0.8889 - accuracy: 0.8285
Epoch 8/100
35/35 [==============================] - 0s 2ms/step - loss: 0.8211 - accuracy: 0.8276
Epoch 9/100
35/35 [==============================] - 0s 2ms/step - loss: 0.7247 - accuracy: 0.8285
Epoch 10/100
35/35 [==============================] - 0s 2ms/step - loss: 0.7049 - accuracy: 0.8294
Epoch 11/100
35/35 [==============================] - 0s 2ms/step - loss: 0.6860 - accuracy: 0.8294
Epoch 12/100
35/35 [==============================] - 0s 2ms/step - loss: 0.6654 - accuracy: 0.8294
Epoch 13/100
35/35 [==============================] - 0s 2ms/step - loss: 0.6526 - accuracy: 0.8294
Epoch 14/100
35/35 [==============================] - 0s 1ms/step - loss: 0.6420 - accuracy: 0.8294
Epoch 15/100
35/35 [==============================] - 0s 2ms/step - loss: 0.6345 - accuracy: 0.8294
Epoch 16/100
35/35 [==============================] - 0s 2ms/step - loss: 0.6280 - accuracy: 0.8294
Epoch 17/100
35/35 [==============================] - 0s 2ms/step - loss: 0.6190 - accuracy: 0.8294
Epoch 18/100
35/35 [==============================] - 0s 2ms/step - loss: 0.6080 - accuracy: 0.8294
Epoch 19/100
35/35 [==============================] - 0s 2ms/step - loss: 0.6035 - accuracy: 0.8285
Epoch 20/100
35/35 [==============================] - 0s 2ms/step - loss: 0.6250 - accuracy: 0.8285
Epoch 21/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5861 - accuracy: 0.8294
Epoch 22/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5791 - accuracy: 0.8294
Epoch 23/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5705 - accuracy: 0.8294
Epoch 24/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5614 - accuracy: 0.8294
Epoch 25/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5529 - accuracy: 0.8294
Epoch 26/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5528 - accuracy: 0.8285
Epoch 27/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5888 - accuracy: 0.8276
Epoch 28/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5869 - accuracy: 0.8267
Epoch 29/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5608 - accuracy: 0.8276
Epoch 30/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5389 - accuracy: 0.8276
Epoch 31/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5329 - accuracy: 0.8285
Epoch 32/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5879 - accuracy: 0.8267
Epoch 33/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5578 - accuracy: 0.8285
Epoch 34/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5501 - accuracy: 0.8285
Epoch 35/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5407 - accuracy: 0.8285
Epoch 36/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5204 - accuracy: 0.8285
Epoch 37/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5114 - accuracy: 0.8285
Epoch 38/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5006 - accuracy: 0.8285
Epoch 39/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4915 - accuracy: 0.8285
Epoch 40/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4890 - accuracy: 0.8285
Epoch 41/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4855 - accuracy: 0.8285
Epoch 42/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4826 - accuracy: 0.8285
Epoch 43/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4824 - accuracy: 0.8285
Epoch 44/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4803 - accuracy: 0.8285
Epoch 45/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4789 - accuracy: 0.8285
Epoch 46/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4774 - accuracy: 0.8285
Epoch 47/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4756 - accuracy: 0.8285
Epoch 48/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4743 - accuracy: 0.8285
Epoch 49/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4720 - accuracy: 0.8285
Epoch 50/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4732 - accuracy: 0.8285
Epoch 51/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4716 - accuracy: 0.8285
Epoch 52/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4709 - accuracy: 0.8285
Epoch 53/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4693 - accuracy: 0.8285
Epoch 54/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4683 - accuracy: 0.8285
Epoch 55/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4676 - accuracy: 0.8285
Epoch 56/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4665 - accuracy: 0.8285
Epoch 57/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4660 - accuracy: 0.8285
Epoch 58/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4651 - accuracy: 0.8285
Epoch 59/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4644 - accuracy: 0.8285
Epoch 60/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4637 - accuracy: 0.8285
Epoch 61/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4632 - accuracy: 0.8285
Epoch 62/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4628 - accuracy: 0.8285
Epoch 63/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4638 - accuracy: 0.8285
Epoch 64/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4626 - accuracy: 0.8285
Epoch 65/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4617 - accuracy: 0.8285
Epoch 66/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4612 - accuracy: 0.8285
Epoch 67/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4607 - accuracy: 0.8285
Epoch 68/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4603 - accuracy: 0.8285
Epoch 69/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4598 - accuracy: 0.8285
Epoch 70/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4597 - accuracy: 0.8285
Epoch 71/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4595 - accuracy: 0.8285
Epoch 72/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4590 - accuracy: 0.8285
Epoch 73/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4586 - accuracy: 0.8285
Epoch 74/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4582 - accuracy: 0.8285
Epoch 75/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4580 - accuracy: 0.8285
Epoch 76/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4576 - accuracy: 0.8285
Epoch 77/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4573 - accuracy: 0.8285
Epoch 78/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4569 - accuracy: 0.8285
Epoch 79/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4567 - accuracy: 0.8285
Epoch 80/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4564 - accuracy: 0.8285
Epoch 81/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4562 - accuracy: 0.8285
Epoch 82/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4558 - accuracy: 0.8285
Epoch 83/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4555 - accuracy: 0.8285
Epoch 84/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4552 - accuracy: 0.8285
Epoch 85/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4548 - accuracy: 0.8285
Epoch 86/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4542 - accuracy: 0.8285
Epoch 87/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4540 - accuracy: 0.8285
Epoch 88/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4537 - accuracy: 0.8285
Epoch 89/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4536 - accuracy: 0.8285
Epoch 90/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4535 - accuracy: 0.8285
Epoch 91/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4534 - accuracy: 0.8285
Epoch 92/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4533 - accuracy: 0.8285
Epoch 93/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4534 - accuracy: 0.8285
Epoch 94/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4532 - accuracy: 0.8285
Epoch 95/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4531 - accuracy: 0.8285
Epoch 96/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4534 - accuracy: 0.8285
Epoch 97/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4529 - accuracy: 0.8285
Epoch 98/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4532 - accuracy: 0.8285
Epoch 99/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4532 - accuracy: 0.8285
Epoch 100/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4533 - accuracy: 0.8285

In [46]:
## Evaluate the model using the test data

In [47]:
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 0.8827 - accuracy: 0.8668 - 157ms/epoch - 13ms/step
Loss: 0.8826654553413391, Accuracy: 0.866847813129425

In [48]:
## skipped a skill drill