# 19.5.3 Support Vector Machine Vs. Deep Learning Model

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf

## Import our input dataset

In [2]:
tele_df = pd.read_csv('./Resources/bank_telemarketing.csv')
tele_df.head()

,Age,Job,Marital_Status,Education,Default_Credit,Housing_Loan,Personal_Loan,Subscribed
0,56,other,married,Primary_Education,no,no,no,no
1,37,services,married,Secondary_Education,no,yes,no,no
2,40,admin,married,Primary_Education,no,no,no,no
3,56,services,married,Secondary_Education,no,no,yes,no
4,59,admin,married,Professional_Education,no,no,no,no

## Generate our categorical variable list

In [3]:
tele_cat = tele_df.dtypes[tele_df.dtypes == "object"].index.tolist()

## Check the number of unique values in each column

In [4]:
tele_df[tele_cat].nunique()

Job               9
Marital_Status    3
Education         4
Default_Credit    2
Housing_Loan      2
Personal_Loan     2
Subscribed        2
dtype: int64

## Create a OneHotEncoder instance

In [5]:
enc = OneHotEncoder(sparse=False)

## Fit and transform the OneHotEncoder using the categorical variable list

In [6]:
encode_df = pd.DataFrame(enc.fit_transform(tele_df[tele_cat]))

## Add the encoded variable names to the dataframe

In [7]:
encode_df.columns = enc.get_feature_names(tele_cat)
encode_df.head()

C:\ProgramData\Anaconda3\envs\Mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,Marital_Status_divorced,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

## Merge one-hot encoded features and drop the originals

In [8]:
tele_df = tele_df.merge(encode_df,left_index=True, right_index=True)
tele_df = tele_df.drop(tele_cat,1)
tele_df.head()

C:\ProgramData\Anaconda3\envs\Mlenv\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,Age,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,56,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,37,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,40,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,59,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

## Remove loan status target from features data

In [9]:
y = tele_df.Subscribed_yes.values
X = tele_df.drop(columns=["Subscribed_no","Subscribed_yes"]).values

## Split training/test datasets

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

## Create a StandardScaler instance

In [11]:
scaler = StandardScaler()

## Fit the StandardScaler

In [12]:
X_scaler = scaler.fit(X_train)

## Scale the data

In [13]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Create the SVM model

In [14]:
svm = SVC(kernel='linear')

## Train the model

In [15]:
svm.fit(X_train, y_train)

SVC(kernel='linear')

## Evaluate the model

In [16]:
y_pred = svm.predict(X_test_scaled)
print(f" SVM model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 SVM model accuracy: 0.873

## Define the model - deep neural net

In [17]:
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  10
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

## First hidden layer

In [18]:
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

## Second hidden layer

In [19]:
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

## Output layer

In [20]:
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

## Compile the Sequential model together and customize metrics

In [21]:
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

## Train the model

In [22]:
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
715/715 [==============================] - 1s 1ms/step - loss: 0.4220 - accuracy: 0.8696
Epoch 2/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3736 - accuracy: 0.8735
Epoch 3/50
715/715 [==============================] - 1s 2ms/step - loss: 0.3705 - accuracy: 0.8735
Epoch 4/50
715/715 [==============================] - 1s 2ms/step - loss: 0.3690 - accuracy: 0.8735
Epoch 5/50
715/715 [==============================] - 1s 2ms/step - loss: 0.3680 - accuracy: 0.8735
Epoch 6/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3676 - accuracy: 0.8735
Epoch 7/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3673 - accuracy: 0.8735
Epoch 8/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3667 - accuracy: 0.8735
Epoch 9/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3665 - accuracy: 0.8735
Epoch 10/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3661 - accuracy: 0.8735
Epoch 11/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3659 - accuracy: 0.8735
Epoch 12/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3657 - accuracy: 0.8735
Epoch 13/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3651 - accuracy: 0.8735
Epoch 14/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3651 - accuracy: 0.8735
Epoch 15/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3650 - accuracy: 0.8735
Epoch 16/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3646 - accuracy: 0.8735
Epoch 17/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3645 - accuracy: 0.8735
Epoch 18/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3645 - accuracy: 0.8735
Epoch 19/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3641 - accuracy: 0.8735
Epoch 20/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3637 - accuracy: 0.8735
Epoch 21/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3639 - accuracy: 0.8735
Epoch 22/50
715/715 [==============================] - 1s 2ms/step - loss: 0.3638 - accuracy: 0.8735
Epoch 23/50
715/715 [==============================] - 1s 2ms/step - loss: 0.3638 - accuracy: 0.8735
Epoch 24/50
715/715 [==============================] - 1s 2ms/step - loss: 0.3637 - accuracy: 0.8735
Epoch 25/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3635 - accuracy: 0.8735
Epoch 26/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3636 - accuracy: 0.8735
Epoch 27/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3633 - accuracy: 0.8735
Epoch 28/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3633 - accuracy: 0.8735
Epoch 29/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3632 - accuracy: 0.8735
Epoch 30/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3633 - accuracy: 0.8735
Epoch 31/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3632 - accuracy: 0.8735
Epoch 32/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3632 - accuracy: 0.8735
Epoch 33/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3633 - accuracy: 0.8735
Epoch 34/50
715/715 [==============================] - 1s 2ms/step - loss: 0.3632 - accuracy: 0.8735
Epoch 35/50
715/715 [==============================] - 1s 2ms/step - loss: 0.3631 - accuracy: 0.8734
Epoch 36/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3629 - accuracy: 0.8737
Epoch 37/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3629 - accuracy: 0.8736
Epoch 38/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3628 - accuracy: 0.8736
Epoch 39/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3628 - accuracy: 0.8737
Epoch 40/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3629 - accuracy: 0.8734
Epoch 41/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3630 - accuracy: 0.8735
Epoch 42/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3628 - accuracy: 0.8735
Epoch 43/50
715/715 [==============================] - 1s 2ms/step - loss: 0.3627 - accuracy: 0.8736
Epoch 44/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3626 - accuracy: 0.8735
Epoch 45/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3627 - accuracy: 0.8736
Epoch 46/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3626 - accuracy: 0.8735
Epoch 47/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3627 - accuracy: 0.8737
Epoch 48/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3626 - accuracy: 0.8737
Epoch 49/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3622 - accuracy: 0.8737
Epoch 50/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3627 - accuracy: 0.8737

## Evaluate the model using the test data

In [23]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

239/239 - 0s - loss: 0.3691 - accuracy: 0.8735 - 311ms/epoch - 1ms/step
Loss: 0.369083046913147, Accuracy: 0.8734908103942871